{% extends "covid_stats/base.html" %}

{% block content %}
<style>
    .center {
      margin: auto;
      width: 80%;
      border: 3px solid #9370DB;
      padding: 10px; 
      margin: 120px; 
    }
</style>
<div class="center"><p><b>this covid-19 tracker web application displays interactive world maps that contain 
    some covid-19 statistics such as: total cases per country, cases per one million people per country,
    daily cases per country, total deaths per country ..</b></p></div>
{% endblock content %}
